body {
    background-color: #010165;
    margin: 0px;
}

.header {
    background-color: #00ffff;
    text-align: center;
}

.title-row {
    margin-top: 42px;
    margin-bottom: 21px;
    text-align: center;
}

.instructions-title {
    display: inline;
    font-size: 18px;
    color: #00ffff;
    font-family: ‘Work Sans’;
}

.instructions-text{
    padding: 10px;
    font-family: ‘Work Sans’;
    font-size: 14px;
    color: #ffffff;
}

.door-row {
    text-align: center;
}

.instructions-row {
    margin: 0 auto;
    width: 400px;
}

.instructions-number{
    padding-right: 25px;
    font-family: ‘Work Sans’;
    font-size: 36px;
    color: #00ffff;
}

.door-frame {
    cursor: pointer;
    padding: 10px;
}

.initial-button {
    margin: auto;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    width: 300px;
    font-family: ‘Work Sans’;
    background-color: #b4b6b5;
    padding: 10px 0;
    font-size: 18px;
    color: #000000;
    margin-bottom: 21px;
    border: 2px solid rgb(0, 0, 0);
}

.winning-button {
    margin: auto;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    width: 300px;
    font-family: ‘Work Sans’;
    background-color: #acf1c7;
    padding: 10px 0;
    font-size: 18px;
    color: #186501;
    margin-bottom: 21px;
    border: 3px solid rgb(72, 255, 0);
}

.loosing-button {
    margin: auto;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    width: 300px;
    font-family: ‘Work Sans’;
    background-color: #f1acac;
    padding: 10px 0;
    font-size: 18px;
    color: #c90000;
    margin-bottom: 21px;
    border: 3px solid rgb(255, 0, 0);
}

.counter {
    margin: auto;
    width: 200px;
    font-family: ‘Work Sans’;
    background-color: #c4c4c4;
    padding: 10px 0;
    font-size: 18px;
    color: #000000;
    margin-bottom: 21px;
    border: 3px solid rgb(0, 0, 0);
}